
{% extends "base.html" %}
{% load bootstrap4%}
{% block content %}

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Login</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                {% if validlink %}
                <p>Please enter (and confirm) your new password.</p>
                {% else %}
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                </p>
                {% endif %}
                <form method="post" class="form" enctype="multipart/form-data" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="boxed-btn3 w-100">Login</button>
                    <br>
                    <br>
                </form>
                <div class="row">
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <button class="boxed-btn3 w-100"><a href="{% url 'password_reset' %}">Lost password?</a></button>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}